{
   project =
   {
      description="▶️  Startup code for MulleObjCStandardFoundation";
      domain="github";
      language="c";
      dialect="objc";
      name="MulleObjCStandardFoundation-startup";
      user="MulleFoundation";
      repo="MulleObjCStandardFoundation-startup";
      homepage="https://github.com/MulleFoundation/MulleObjCStandardFoundation-startup";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="🚤 Objective-C classes based on the C standard library";
         domain="github";
         name="MulleObjCStandardFoundation";
         repo="MulleObjCStandardFoundation";
         url="https://github.com/MulleFoundation/MulleObjCStandardFoundation";
         user="MulleFoundation";
      }
   );
}
